services:
  scam-bank-client:
    image: microseversk/scam-bank-user-client:latest
    container_name: scam-bank-user-client
    build: .
    ports:
      - 1337:1337
    environment:
      - PORT=1337
      - API_URL=http://45.130.146.135:4000/api

